
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

h1 {
    font-size: 2rem;
    color: #333;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 18rem;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

/* Centrar el texto del cuerpo de las tarjetas */
.card .card-body {
    text-align: center;
}

/* Personalización de los botones */
.card .btn {
    margin-top: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    transition: background-color 0.3s;
}

.card .btn:hover {
    background-color: #0056b3;
}

.card .btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.card .btn-danger:hover {
    background-color: #a71d2a;
}
